langchain
langchain-ollama
langchain-openai
langchain-chroma
langchain_community 
langchain_experimental
langchain_openai
langgraph
langgraph-checkpoint-sqlite
rich
python-dotenv
numpy
pypdf
youtube_transcript_api